{{#if superuser}}
<script defer src="/js/uploadAlbumPh.js"></script>
<div class="divik2">
  <span class="one"></span>
  <span  class="two"></span>
  <span  class="three"></span>
  <span  class="four"></span>
 </div>
<main id="logbody" class="main">
      <h3 class="sUser">Привет, {{superuser}}!</h3>
  <div class="content-container">
    <div class="author-albums">


      {{#each authorAlbums}}
      <div id="{{id}}" class="name-album">
        <h3>{{title}}</h3>
        <div class="preview-album" onclick="location.href='http://localhost:3000/album/{{id}}';">
          <img src="{{photo}}" alt="anyPhoto" class="albumImg">
        </div>
      </div>
      {{/each}}
    </div>

    <br>
    <hr>
    <br>

    <div class="all-albums">
      <h3>Альбомы других пользователей</h3>
      {{#each accessAlbum}}
      <div id="{{id}}" class="name-album">
        <h3>{{title}}</h3>
        <div class="preview-album" onclick="location.href='http://localhost:3000/album/{{id}}';">
          <img src="{{photo}}" alt="anyPhoto" width="300px" height="300px">
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>
{{/if}}


{{#unless superuser}}
<main class="main">
  <div class="content-container">
    <p class="mainDone">Для продолжения <br> требуется авторизация</p> 
    </div>
    <a class="floating-button" href="/login">Войти</a>
    <a class="floating-button" href="/registration">Зарегистрироваться</a>
    
  
  <div class="divik">
  <span class="one"></span>
  <span  class="two"></span>
  <span  class="three"></span>
  <span  class="four"></span>
 </div>
</main>

{{/unless}}
