{{#if isAuthor}}
<script defer src="/js/assesmentApplication.js"></script>
<script defer src="/js/formShow.js"></script>
<script defer src="/js/privatAddForms.js"></script>
<main class="main">
  {{!-- Форма Добавления Фото --}}
  <button class="open-button" onclick="openForm()">Добавить фото</button>
  <div class="form-popup" id="myForm">
    <form id="formAddPhoto" method="POST" action="/uploadPhoto/{{thisAlbum.id}}" enctype="multipart/form-data"
      class="form-container">

      <label for="psw"><b>Добавить фото</b></label>
      <br>
      <br>
      <div class="file"> <input type="file" name="images"></div>

      <input class="inplog" style="color: black;" type="text" placeholder="Название" name="title" required>
      <input class="inplog" type="text" placeholder="Описание" name="body" required>

      <button type="submit" class="btn">Добавить фото</button>
      <button type="submit" class="btn cancel" onclick="closeForm()">Закрыть</button>
    </form>
  </div>

  {{!-- Форма приватности --}}
  <button class="open-button R" onclick="openForm2()">Приватность</button>
  <div class="form-popup R" id="myFormR">
    <form id="formPrivat" name="{{thisAlbum.id}}" class="form-container R">

      <label for="psw"><b>Разрешить просмотр альбома</b></label>
      <br>
      <br>
      <input class="inplog R" style="color: black;" type="text" placeholder="Логин" name="userLogin" required>
      <button type="submit" class="btn R registerbtn">Сохранить</button>
      <button type="submit" class="btn cancel R" onclick="closeForm2()">Закрыть</button>
    </form>
  </div>

  <div class="-photo-container">
    <div class="authorAlbum">
      <h3>Автор этого альбома: {{authorAlbum.login}}</h3>
    </div>

    <hr>
    <div class="photos">
      {{#each allPhotos}}

      <div id="{{id}}" class="js-meal">
        <div class="photo">
          <h2>{{title}}</h2>
          <img class="photo" src="{{photo}}" alt=""><br>
          <p>{{body}}</p>
        </div>
      </div>
      {{/each}}
    </div>


  </div>
  {{/if}}
  {{#unless isAuthor}}
  <h3>Это не ваш альбом</h3>
  <br>
  <h4>Владелец {{authorAlbum.login}}</h4>
  <div class="photos">
    {{#each allPhotos}}

    <div id="{{id}}" class="js-meal">
      <div class="photo">
        <h2>{{title}}</h2>
        <img class="photo" src="{{photo}}" alt=""><br>
        <p>{{body}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/unless}}
</main>
