{{#if isAuthor}}
<script defer src="/js/assesmentApplication.js"></script>
<div class="-photo-container">
  <div class="authorAlbum">
    <h3>Автор этого альбома: {{authorAlbum.login}}</h3>
  </div>

  <form id="formAddPhoto" method="POST" action="/uploadPhoto/{{thisAlbum.id}}" enctype="multipart/form-data">
    <div class="container">
      <h1>Добавление фото</h1>
      <hr>
      <br>
      <br>
      <label><b>Название:</b></label>
      <input type="text" placeholder="Название фото" name="title" required>
      <br>
      <br>
      <label for="title"><b>Описание:</b></label>
      <input type="text" placeholder="Описание фото" name="body" required>
      <br>
      <br>
      <label for="psw"><b>Выберете фото для загрузки</b></label>
      <input type="file" name="images">
      <br>
      <br>
      <button type="submit" class="registerbtn">Добавить</button>
      <hr>
    </div>
  </form>

  <hr>

  <form id="formPrivat" name="{{thisAlbum.id}}">
    <div class="container">
      <h1>Разрешение на просмотр альбома</h1>
      <hr>
      <br>
      <br>
      <input class="inputAddAdmission" type="text" placeholder="Логин пользователя" name="userLogin" required>
      <br>
      <br>
      <button type="submit" class="registerbtn">Добавить</button>
      <hr>
    </div>
  </form>

  {{#each allPhotos}}
  <div id="{{id}}" class="js-meal">
    <div class="photo">
      <h2>{{title}}</h3>
        <img style="height: 200px; width: 200px" src="{{photo}}" alt=""><br>
        <p>{{body}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
{{#unless isAuthor}}
<h3>Это не ваш альбом</h3>
<h4>Владелец {{authorAlbum.login}}</h4>
{{/unless}}
